<div class="modal-content">
  <div class="modal-header background-header-footer">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close('cerrar')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <img src="../../../assets/images/pdf_icono.ico">
      </div>
      <div class="col-md-8">
        <p>¿Desea abrir o guardar este archivo?</p>
        <p>{{archivo.name}}.pdf</p>
        <p>{{archivo.registered.substr(0,10)}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer background-header-footer">
    <button type="button"
            class="btn btn-light"
            (click)="activeModal.close('abrir')">Abrir</button>
    <button type="button"
            class="btn btn-light"
            (click)="activeModal.close('guardar')">Guardar</button>
    <button type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="activeModal.close('cerrar')">Close</button>
  </div>
</div>
