<div class="header_serach_criteria">
    {{'buscador.criterio_busqueda' | translate}}
</div>
<div class="search_criteria">
  <div class="row" style="margin-right: 0px !important;">
    <div class="col-md-10 offset-md-1">
      <form (ngSubmit)="searchCriteria()">
        <div class="form-group row">
          <label for="titulo" class="col-sm-3 col-form-label">{{'buscador.titulo_object' | translate}}</label>
          <div class="col-sm-3">
            <input  type="text"
                    class="form-control"
                    id="titulo"
                    name="titulo"
                    [(ngModel)]="convenio.titulo">
          </div>
        </div>
        <div class="form-group row entidades">
          <label for="organo_responsable" class="col-sm-3 col-form-label">{{'buscador.organo_responsable' | translate}}</label>
          <div class="col-sm-6">
            <select class="form-control selectpicker"
                    id="organo_responsable"
                    name="organo_responsable"
                    [(ngModel)]="convenio.organo_responsable"
                    (change)="hiddenDefaultOption()">
              <option [hidden]="hiddenOrgano">Selecione una opción</option>
              <option *ngFor="let organo of organoRespnsable">{{organo.name}}{{organo.id}}</option>
            </select>
          </div>
        </div>
        <label for="titulo" class="col-sm-9 offset-md-3 col-form-label">{{'buscador.description_organo' | translate}}</label>
        <div class="form-group row since_until">
          <label for="titulo" class="col-sm-3 col-form-label">{{'buscador.fecha_formalizacion' | translate}}</label>
          <div class="form-group row col-sm-4">
            <label for="desde_description_organo" class="col-sm-3 col-form-label">{{'buscador.desde' | translate}}</label>
            <div class="col-sm-9">
              <input  type="date"
                      class="form-control"
                      id="desde_description_organo"
                      name="desde_description_organo"
                      [(ngModel)]="convenio.desde_description_organo"
                      [ngClass]="{'input-error': !isValidateDate}"
                      (change)="validateDate()" />
            </div>
          </div>
          <div class="form-group row col-sm-4">
            <label for="hasta_description_organo" class="col-sm-3 col-form-label">{{'buscador.hasta' | translate}}</label>
            <div class="col-sm-9">
              <input  type="date"
                      class="form-control"
                      id="hasta_description_organo"
                      name="hasta_description_organo"
                      [(ngModel)]="convenio.hasta_description_organo"
                      [ngClass]="{'input-error': !isValidateDate}"
                      (change)="validateDate()" />
            </div>
          </div>
          <div *ngIf="!isValidateDate" class="col-sm-6 offset-sm-4 alert alert-danger">
            {{'errores.comparar_fecha' | translate}}
         </div>
        </div>
        <div class="form-group row two_imputs_file">
          <label for="num_convenio" class="col-sm-3 col-form-label">{{'buscador.num_convenio' | translate}}</label>
          <div class="col-sm-9 row">
            <input  type="number"
                    class="form-control num_convenio_abled"
                    id="num_convenio_1"
                    name="num_convenio_1"
                    max="999"
                    [(ngModel)]="convenio.num_convenio_1">
            <input  type="text"
                    class="num_convenio_disbled"
                    disabled="true"
                    placeholder="/">
            <input  type="text"
                    class="form-control num_convenio_abled"
                    id="num_convenio_2"
                    name="num_convenio_2"
                    [(ngModel)]="convenio.num_convenio_2">
            <input  type="text"
                    class="num_convenio_disbled"
                    disabled="true"
                    placeholder="/">
            <input  type="text"
                    class="form-control num_convenio_abled"
                    id="num_convenio_3"
                    name="num_convenio_3"
                    [(ngModel)]="convenio.num_convenio_3">
            <input  type="text"
                    class="num_convenio_disbled"
                    disabled="true"
                    placeholder="/">
            <input  type="text"
                    class="form-control num_convenio_abled"
                    id="num_convenio_4"
                    name="num_convenio_4"
                    [(ngModel)]="convenio.num_convenio_4">
          </div>
        </div>
        <div class="form-group row">
          <label for="importe_gastos" class="col-sm-3 col-form-label">{{'buscador.importe_gastos' | translate}}</label>
          <div class="form-group row col-sm-4">
            <label class="col-sm-3 col-form-label">{{'buscador.desde' | translate}}</label>
            <div class="col-sm-9">
              <input  type="text"
                      class="form-control"
                      id="desde_importe_gastos"
                      name="desde_importe_gastos"
                      [(ngModel)]="convenio.desde_importe_gastos" />
            </div>
          </div>
          <div class="form-group row col-sm-4">
            <label class="col-sm-3 col-form-label">{{'buscador.hasta' | translate}}</label>
            <div class="col-sm-9">
              <input  type="text"
                      class="form-control"
                      id="hasta_importe_gastos"
                      name="hasta_importe_gastos"
                      [(ngModel)]="convenio.hasta_importe_gastos" />
            </div>
          </div>
        </div>
        <div class="form-group row two_imputs_file">
          <label for="importe_ingresos" class="col-sm-3 col-form-label">{{'buscador.importe_ingresos' | translate}}</label>
          <div class="form-group row col-sm-4">
            <label class="col-sm-3 col-form-label">{{'buscador.desde' | translate}}</label>
            <div class="col-sm-9">
              <input  type="text"
                      class="form-control"
                      id="desde_importe_ingresos"
                      name="desde_importe_ingresos"
                      [(ngModel)]="convenio.desde_importe_ingresos" />
            </div>
          </div>
          <div class="form-group row col-sm-4">
            <label class="col-sm-3 col-form-label">{{'buscador.hasta' | translate}}</label>
            <div class="col-sm-9">
              <input  type="text"
                      class="form-control"
                      id="hasta_importe_ingresos"
                      name="hasta_importe_ingresos"
                      [(ngModel)]="convenio.hasta_importe_ingresos" />
            </div>
          </div>
        </div>
        <div class="form-group row two_imputs_file">
          <label for="organos_firmantes" class="col-sm-3 col-form-label">{{'buscador.organos_firmantes' | translate}}</label>
          <div class="col-sm-8">
            <input  type="text"
                    class="form-control"
                    id="organos_firmantes"
                    name="organos_firmantes"
                    [(ngModel)]="convenio.organos_firmantes">
          </div>
        </div>
        <div class="form-group row entidades">
          <div class="form-group row col-sm-6 ">
            <label class="col-sm-5 col-form-label">{{'buscador.entidades_firmantes' | translate}}</label>
            <div class="col-sm-7">
              <input  type="text"
                      class="form-control"
                      id="entidades_firmantes"
                      name="entidades_firmantes"
                      [(ngModel)]="convenio.entidades_firmantes" />
            </div>
          </div>
          <div class="form-group row col-sm-6">
            <label class="col-sm-5 col-form-label">{{'buscador.tipo_entidades' | translate}}</label>
            <div class="col-sm-6">
              <select class="form-control selectpicker"
                      id="tipo_entidades"
                      name="tipo_entidades"
                      [(ngModel)]="convenio.tipo_entidades"
                      (change)="hiddenDefaultOption()">
                <option [hidden]="hiddenOrgano">Selecione</option>
                <option *ngFor="let tipo of tipoEntidad">{{tipo.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row two_imputs_file">
          <div class="form-group row col-sm-6 ">
            <label class="col-sm-5 col-form-label">{{'buscador.tipo_convenio' | translate}}</label>
            <div class="col-sm-7">
              <select class="form-control selectpicker"
                      id="tipo_convenio"
                      name="tipo_convenio"
                      [(ngModel)]="convenio.tipo_convenio"
                      (change)="hiddenDefaultOption()">
                <option [hidden]="hiddenOrgano">Selecione</option>
                <option *ngFor="let tipo of tipoConvenio">{{tipo.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row col-sm-6">
            <label class="col-sm-5 col-form-label">{{'buscador.materia' | translate}}</label>
            <div class="col-sm-6">
              <select class="form-control"
                      id="materia"
                      name="materia"
                      [(ngModel)]="convenio.materia"
                      (change)="hiddenDefaultOption()">
                <option [hidden]="hiddenOrgano">Selecione</option>
                <option *ngFor="let materiaOption of materia">{{materiaOption.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <button type="submit"
                class="btn btn-default">
                {{'buscador.buscar' | translate}}
        </button>
      </form>
    </div>
  </div>
</div>
