<app-secundary-nav (optionSelected)="getOptionSelected($event)"
                    [titulos]="titulos"
                    [isSelected]="isSelected"></app-secundary-nav>
<app-show-detail  *ngIf="isSelected === titulos[0]"
                  [detailAgreement]="details_agreement">
</app-show-detail>
<app-list-folder  *ngIf="isSelected === titulos[1]"
                  [listDetailsAgreement]="list_details_agreement"
                  (resultModal)="getResultModal($event)">
</app-list-folder>
<app-list-related  *ngIf="isSelected === titulos[2]"
                   [listRelated]="list_related">
</app-list-related>
